
@font-face {
    font-family: "exans";
    src: url('main_fonts/Exan-Regular.ttf') format('truetype');
}

*:focus {
    outline: none;
  } 
  
#indexed {
    font-family: "exans";
    font-size: 200%;
    color: rgba(255, 255, 255,1);

    position: relative;
    left: 30px;
    top: 4px;

    z-index: 2; 

    text-shadow:
    0 0 40px gold, 0 0 140px gold,
    0 0 40px gold, 0 0 140px gold;
}
body {
    height: 100vh;
    width: 100vw;

    background: white;

    opacity: 0;
    animation: fadeIn 1s linear 0s 1 forwards;

    min-width: 1140px;

    overflow: hidden;
    
}

iframe {
    display:none;
}

@keyframes fadeIn {
    100% {opacity: 1;}
}
.top {
    height: 90px;
    min-height: 90px;
    min-width: 1140px;
   
    background-color:rgba(0,0,0,.2);


    
}
.side {
    height: 100%;
    width: 200px;
    position: absolute;
    left: 0;
    background-color:rgba(0,0,0,.2);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    

}
input {

    width: 90%;

    border-radius: 5px;

    margin: 20px;

    background: rgba(0, 0, 0, .8);
    border: none;

    color: rgba(32, 194, 14, .7);

    font-family: exans;
    

    
}




form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    position: relative;
    top: 40px;
}

button {
    width: 60%;
}



@keyframes blink {
    100%{color: #20C20E;}
}


.sidename {
    font-family: "exans";
    font-size: 120%;
    color: rgba(255, 255, 255,1);

    position: relative;
    top: 10px;

  
    text-shadow:
    0 0 80px gold, 0 0 180px gold,
    0 0 90px gold, 0 0 180px gold;


 
    
}   

.realtop {
    position: absolute;
    top: 0;
    left: 230px;
    height: 90px;
    width: 100%;

    min-width: 1120px;

   
   
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#userstats {
    font-family: "exans";

    color: rgba(32, 194, 14, .8);
    font-size: 90%;

    

    
}



.main {
    height: 800px;

    width: 1400px;
    min-width: 1500px;

 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;



    
}



#sec1 {
    height: 60%;
    width: 80%;

    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    
    
}
.stats-row{
    height: 15%;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    
    
}
#pokePic {
    
    height: 80%;
    width: 70%;
}

#userData {
    overflow: hidden;
    

    height: 30px;
    

    font-size: 100%;

    height: 100%;
    display: flex;
    align-items: center;
    
    white-space: nowrap;

    position: relative;
    right: 31px;


    padding-left: 10px;

    


}
.userDataLoaded {
    animation: writingUserData 5s linear 0s 1 forwards, writingUserDataFlash .25s steps(4) 2.5s 2 forwards, writingUserDataRestore .01s steps(1) 2.75s 1 forwards;
}    
@keyframes writingUserData {
    0% {width: 0;}
    100% {width: 1140px; min-width: 1140px;}
        
         
    
}
@keyframes writingUserDataFlash {
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes writingUserDataRestore {
    100% {
        text-shadow:
        0 0 80px gold, 0 0 180px gold,
        0 0 90px gold, 0 0 180px gold;

    }
        
}

#screen {
    height: 60%;
    width: 30%;


    background: rgba(0,0,0,.2 );

    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    


    height: 270px;

    width: 320px;

    min-width: 320px;

   


}



.horizontal {
    height: 1px;
    width: 100%;
    background-color: rgba(32, 194, 14, .5);
    display: flex;
    justify-content: space-evenly;

}
.vertical {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    height: 27000%;
    width: 1px;
    background-color: rgba(32, 194, 14, .5);

    position: relative;
    bottom: 25px;

    


}


img {
    height: 200px;
    width: 200px;

    position: relative;
    left: 24%;

    z-index: 3;
}

#stats-box-floating-master {
    height: 70%;
    width: 45%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    

}

.stats-box-floating {

    height: 20%;
    width: 80%;


    

    display: flex;
    align-items: center;
    justify-content: center;
}

.stats-row {
    background-color:rgba(0,0,0,.2);
    margin: 10px 0;

    position: relative;
    right: 60px;
    bottom: 10px;

 

}

p {
    color: green;
}

.soundwave-container {
    height: 80%;
    width: 40%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.soundwave {
    height: 15%;
    width: 10%;

    background-color: rgb(32, 194, 14);
}
.soundwaveWaving {
    animation: waving .25s linear 0s infinite;
}
#s2 {
    animation-delay: .05s;
}
#s3 {
    animation-delay: .10;
}
#s4 {
    animation-delay: .15s;
}
#s5 {
    animation-delay: .20s;
}
#s6 {
    animation-delay: .25s;
}
@keyframes waving {
    50% {height: 30%}
    100% {height: 60%}
}





.bar-label {
    transform: rotate(-90deg);
    position: relative;
    top: 7px;
    color: rgb(32, 194, 14);
}
#speaking {
    background-color:rgba(0,0,0,.2);
    width: 40%;
    position: relative;
    left: 120px;

}

#defense {
    display: flex;
    align-items: center;
    justify-content: center;
    #defense-bar{
        height: 60%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-style: solid;
        border-color: black;
        border-radius: 15px;     
        overflow: hidden;
        #dbar {
            height: 105%;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            #dbarText {
                font-family: "exans";
                color: black;
                transition: width 10s;
            }
        }
    }
}

#attack {
    display: flex;
    align-items: center;
    justify-content: center;
    #attack-bar{
        height: 60%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-style: solid;
        border-color: black;
        border-radius: 15px;     
        overflow: hidden;
        #abar {
            height: 105%;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            #abarText {
                font-family: "exans";
                color: black;
                transition: width 10s;
            }
        }
    }
}

#hp {
    display: flex;
    align-items: center;
    justify-content: center;
    #hp-bar{
        height: 60%;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-style: solid;
        border-color: black;
        border-radius: 15px;     
        overflow: hidden;
        #hpbar {
            height: 105%;
            background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10px;
            #hpbarText {
                font-family: "exans";
                color: black;
                transition: width 10s;
            }
        }
    }
}

#abilities-header {
    font-family: "exans";
    color: rgb(32, 194, 14);

    position: absolute;
    top: 0;
    left: 5px;

    font-size: 100%;
}
#abilities-holder {
    height: 80%;
    width: 80%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    font-family: "exans";
}